./Covid_detection_CNN-master/all_images
./Covid_detection_CNN-master/COVID-19_Radiography_Dataset4
./Covid_detection_CNN-master/all_images.zip
./ml/all_images
./client/node_modules
./server/node_modules
./Covid_detection_CNN-master/README.md
ml/bestmodel_vgg_working_collab.h5
ml/bestmodel_vgg.h5
ml/bestmodel.h5

/Covid_detection_CNN-master/bestmodel_vgg_working_collab.h5
/Covid_detection_CNN-master/bestmodel.h5

.ipynb_checkpoints

ml\initial_model_vgg.h5

ml\initial_model.h5

[classi_analysis_1]_covid-19-symptiom-xgbooast.ipynb